In [1]:
import sys
print("Python路径:", sys.executable)
print("是否有pandas:", end=" ")
try:
    import pandas
    print("✅ 有！")
except:
    print("❌ 没有！")

Python路径: /opt/anaconda3/bin/python
是否有pandas: ✅ 有！

In [3]:

import pandas as pd

# 1. 读取我们生成的数据
orders_df = pd.read_csv('orders.csv')
traffic_df = pd.read_csv('website_traffic.csv')

In [ ]:
# 2. 数据初探
print("数据形状:", orders_df.shape)
print("数据类型:", orders_df.dtypes)
print("缺失值:", orders_df.isnull().sum())
print("数据预览:", orders_df.head())

数据形状: (9106, 10)
数据类型: order_id              int64
date                 object
country              object
product_category     object
order_value         float64
quantity              int64
customer_type        object
payment_method       object
shipping_cost       float64
delivery_days         int64
dtype: object
缺失值: order_id            0
date                0
country             0
product_category    0
order_value         0
quantity            0
customer_type       0
payment_method      0
shipping_cost       0
delivery_days       0
dtype: int64
数据预览:    order_id                        date    country product_category  \
0         1  2025-02-05 17:44:21.717913  Australia   Contact Lenses
1         2  2025-02-05 17:44:21.717913  Australia   Contact Lenses
2         3  2025-02-05 17:44:21.717913     Canada       Sunglasses
3         4  2025-02-05 17:44:21.717913    Germany   Safety Glasses
4         5  2025-02-05 17:44:21.717913     Canada   Contact Lenses

   order_value  quantity customer_type payment_method  shipping_cost  \
0        46.76         1           New    Credit Card          10.77
1        60.62         1     Returning    Credit Card          11.54
2        46.42         2     Returning    Credit Card          12.75
3        85.55         1     Returning         PayPal           7.98
4        47.45         2           New         PayPal           6.85

   delivery_days
0             13
1              7
2             13
3              8
4              7

In [5]:
# 3. 基础筛选和排序
# 筛选美国订单
us_orders = orders_df[orders_df['country'] == 'US']

In [6]:
us_orders

,order_id,date,country,product_category,order_value,quantity,customer_type,payment_method,shipping_cost,delivery_days
15,16,2025-02-05 17:44:21.717913,US,Prescription Glasses,128.66,1,New,Credit Card,13.90,10
20,21,2025-02-05 17:44:21.717913,US,Reading Glasses,42.51,1,New,Credit Card,22.67,14
23,24,2025-02-05 17:44:21.717913,US,Contact Lenses,33.50,1,New,PayPal,6.29,5
31,32,2025-02-05 17:44:21.717913,US,Contact Lenses,58.76,1,New,Bank Transfer,8.24,12
41,42,2025-02-05 17:44:21.717913,US,Sunglasses,199.86,2,New,Credit Card,20.07,9
...,...,...,...,...,...,...,...,...,...,...
9082,9083,2025-08-04 17:44:21.717913,US,Safety Glasses,48.99,1,New,Credit Card,24.18,12
9083,9084,2025-08-04 17:44:21.717913,US,Sunglasses,149.55,1,New,PayPal,12.78,12
9086,9087,2025-08-04 17:44:21.717913,US,Reading Glasses,54.04,1,New,PayPal,18.07,8
9097,9098,2025-08-04 17:44:21.717913,US,Reading Glasses,49.26,2,Returning,PayPal,20.58,10
9098,9099,2025-08-04 17:44:21.717913,US,Contact Lenses,37.28,1,New,Credit Card,19.52,6

In [7]:
# 按订单金额排序
sorted_orders = orders_df.sort_values('order_value', ascending=False)

In [8]:
sorted_orders

,order_id,date,country,product_category,order_value,quantity,customer_type,payment_method,shipping_cost,delivery_days
4538,4539,2025-05-04 17:44:21.717913,Japan,Prescription Glasses,329.11,1,Returning,Credit Card,24.36,3
2002,2003,2025-03-16 17:44:21.717913,Japan,Prescription Glasses,325.04,2,Returning,PayPal,19.64,6
3706,3707,2025-04-18 17:44:21.717913,Japan,Prescription Glasses,323.21,1,Returning,Credit Card,21.47,12
6471,6472,2025-06-12 17:44:21.717913,Japan,Prescription Glasses,323.09,1,Returning,Credit Card,23.35,10
7493,7494,2025-07-02 17:44:21.717913,Japan,Prescription Glasses,322.96,1,Returning,PayPal,10.81,6
...,...,...,...,...,...,...,...,...,...,...
7457,7458,2025-07-02 17:44:21.717913,France,Reading Glasses,17.63,1,New,Credit Card,11.06,13
8503,8504,2025-07-23 17:44:21.717913,Germany,Reading Glasses,17.55,1,New,Credit Card,10.14,5
7127,7128,2025-06-25 17:44:21.717913,Germany,Reading Glasses,17.32,1,New,Credit Card,11.40,12
3289,3290,2025-04-11 17:44:21.717913,Germany,Reading Glasses,17.12,1,Returning,Credit Card,23.78,4
6657,6658,2025-06-16 17:44:21.717913,Germany,Reading Glasses,17.09,2,New,Bank Transfer,13.63,4

In [9]:
# 基础统计
print("订单金额统计:", orders_df['order_value'].describe())

订单金额统计: count    9106.000000
mean       93.247168
std        63.019984
min        17.090000
25%        46.352500
50%        71.315000
75%       124.800000
max       329.110000
Name: order_value, dtype: float64

In [10]:
# 1. 日期处理（跨境电商必需）
orders_df['date'] = pd.to_datetime(orders_df['date'])

In [11]:
orders_df['date']

0      2025-02-05 17:44:21.717913
1      2025-02-05 17:44:21.717913
2      2025-02-05 17:44:21.717913
3      2025-02-05 17:44:21.717913
4      2025-02-05 17:44:21.717913
                  ...
9101   2025-08-04 17:44:21.717913
9102   2025-08-04 17:44:21.717913
9103   2025-08-04 17:44:21.717913
9104   2025-08-04 17:44:21.717913
9105   2025-08-04 17:44:21.717913
Name: date, Length: 9106, dtype: datetime64[ns]